.app {
  margin: auto;
  max-width: 60rem;
  padding: 20px;
}

.infiniteWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.displayInfiniteCards {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  margin-bottom: 60px !important;
  width: 100%;

  @media  screen and (min-width: 770px) {
    grid-template-columns: repeat(auto-fit, 309px);
    width: auto;
  }
}